{{{content.description-prologue}}}

{{{content.description-main}}}

{{{content.description-epilogue}}}

<ul class="list-category list-unstyled list-grid-1 list-grid-medium-3 list-grid-large-3">
{{#each products}}
  <li>
    <div class="center-image-container">
      <img class="product-image" src="{{image}}" />
    </div>
    <h4 class="product-title">{{name}}</h4>
    <h3 class="product-price">{{price}}</h3>
    {{!-- <p>{{description}}</p>
 --}}  </li>
{{/each}}
</ul>
