{{{content.description-prologue}}}

{{{content.description-main}}}

{{{content.description-epilogue}}}

{{#each products}}
  <div class="product">
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    <span class="price">{{price}}</span>
    <p><img src="{{image}}" /></p>
  </div>
{{/each}}
